body {
    html{margin: 0}
    /* Is needed for background to work*/
    width: 100vw;
    height: 100vh;

/* Background settings */
    margin: 0;
    background-image: url('background/Castle Background.jpg');
    background-origin: content-box;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1
{
    color: white;
    margin: 0;
    position: absolute;
    top: 0%;
    width:100%;
    text-align:center;
    font-size: 100px;
    text-shadow: 4px 4px 20px white;
}

h2{
 color: white;
 font-family: 'Anglorunic',Fantasy,Cursive,Serif;
 margin: 0;
 position: absolute;
 top:10%;
 width:50%;
 text-align:center;
 font-size: 120px;
 text-decoration:underline;
}
p1{
 color: lightgrey;
 font-family: 'Anglorunic',Fantasy,Cursive,Serif;
 margin: 0;
 position: absolute;
 top: 40%;
 width: 50%;
 text-align: center;
 font-size: 60px;
}
p2{
 color: lightgrey;
 font-family: 'Anglorunic',Fantasy,Cursive,Serif;
 margin: 0;
 position: absolute;
 top: 50%;
 width: 50%;
 text-align: center;
 font-size: 60px;
}

p3{
 color: white;
 font-family: 'Anglorunic',Fantasy,Cursive,Serif;
 margin: 0;
 position: absolute;
 top: 60%;
 width: 50%;
 text-align: center;
 font-size: 60px;
 text-decoration:overline;
}
