@font-face { font-family: "dogicapixel"; src: url("dogicapixel.ttf");}
body {
    html{margin: 0}
    /* Is needed for background to work*/
    width: 100vw;
    height: 100vh;

/* Background settings */
    margin: 0;
    background-image: url('background/pixel_Art_Castle.jpg');
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-attachment:fixed;
}
h1
{
    color: white;
    margin: 0;
    position: relative;
    top: 0%;
    width:100%;
    font-size: 80px;
    text-shadow: 4px 4px 20px white;
}

h2{
 color: white;
 font-family:"dogicapixel",Cursive,Serif;
 margin: 0;
 position: relative;
 top:20%;
 width:50%;
 text-align:center;
 font-size: 4vw;

}
p1{
 color: lightgrey;
 font-family:"dogicapixel",Cursive,Serif;
 margin: 0;
 position: absolute;
 top: 45%;
 width:50%;
 text-align: center;
 font-size: 2vw ;
}
p2{
 color: lightgrey;
 font-family:"dogicapixel",Cursive,Serif;
 margin: 0;
 position: absolute;
 top: 55%;
 width: 50%;
 text-align: center;
 font-size: 2vw;
}

p3{
 color: white;
 font-family:"dogicapixel",Cursive,Serif;
 margin: 0;
 position: absolute;
 top: 65%;
 width: 50%;
 text-align: center;
 font-size: 2vw;
}
p4{
 color: white;
 font-family:"dogicapixel",Cursive,Serif;
 margin: 0;
 position: absolute;
 top: 75%;
 width: 50%;
 text-align: center;
 font-size: 2vw;
}
/*Images*/
#stationary{
    position: relative;
    height:30%;
    width:15%;
    object-position:center bottom;
    object-fit: cover;
    left:37%;
    transform: scaleX(-1);
}
div.stationary_Picture{
    position:fixed;
    top: 50%;
    left:0%;
    width:100%;
    heigh:100%;
}
/*Walking*/
.walking_right {
    width:6%;
    height:3%;
    position:relative;
    left: 0%;
    bottom:0.75%;

    animation-duration:15s;
    animation-name:movingright;
    animation-delay: 0;
    animation-direction:alternate;
}
.walking_left {
    width:6%;
    height:3%;
    position:relative;
    right: 0%;
    bottom: 20%;

    animation-duration:15s;
    animation-name:movingleft;
    animation-delay: 0;
    animation-direction:alternate;
}
.moving_Picture_right{
    position:fixed;
    left: 0%;
    bottom: 6vh;
    width:50vw;
    heigh:50vh;
    object-fit:none;
}
.moving_Picture_left{
    position:fixed;
    left:0;
    top: 6vh;
    width:50vw;
    heigh:50vh;
    transform: scale(-1,-1);
    object-fit:none;

}
@keyframes movingright{
    0%  {left:-10vw;bottom:-7.1vh;}
    100%{left:130vw;bottom:-7.1vh;}
}
@keyframes movingleft{
    0%{left:-60vw;top:7.1vh;}
    100%{left:100vw;top:7.1vh;}
}
