@font-face { font-family: "dogicapixel"; src: url("dogicapixel.ttf");}
body {
    html{margin: 0}
    /* Is needed for background to work*/
    width: 100vw;
    height: 100vh;

/* Background settings */
    margin: 0;
    background-image: url('background/pixel_Art_Castle.jpg');
    background-origin: content-box;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1
{
    color: white;
    margin: 0;
    position: absolute;
    top: 0%;
    width:100%;
    font-size: 80px;
    text-shadow: 4px 4px 20px white;
}

h2{
 color: white;
 font-family:"dogicapixel",Cursive,Serif;
 margin: 0;
 position: absolute;
 top:20%;
 width:50%;
 text-align:center;
 font-size: 80px;
}
p1{
 color: lightgrey;
 font-family:"dogicapixel",Cursive,Serif;
 margin: 0;
 position: absolute;
 top: 40%;
 width: 50%;
 text-align: center;
 font-size: 40px;
}
p2{
 color: lightgrey;
 font-family:"dogicapixel",Cursive,Serif;
 margin: 0;
 position: absolute;
 top: 50%;
 width: 50%;
 text-align: center;
 font-size: 40px;
}

p3{
 color: white;
 font-family:"dogicapixel",Cursive,Serif;
 margin: 0;
 position: absolute;
 top: 60%;
 width: 50%;
 text-align: center;
 font-size: 40px;
}
img {
    width:300px;
    height:200px;
    object-position: 100% 100%;
}
div.moving_Picture{
    position:fixed;
    left: -5%;
    bottom: 0;
    width:100%;
    heigh:100%;
}
div.stationary_Picture{
    position:fixed;
    bottom:0;
    left:-3%;
    width:100%;
    heigh:100%;
}
@keyframes moving{
    0%  {left:10%;bottom:-31%;}
    10% {left:15%;bottom:-31%;}
    20% {left:20%;bottom:-31%;}
    30% {left:25%;bottom:-31%;}
    40% {left:30%;bottom:-31%;}
    50% {left:35%;bottom:-31%;}
    60% {left:40%;bottom:-31%;}
    70% {left:45%;bottom:-31%;}
    80% {left:50%;bottom:-31%;}
    90% {left:55%;bottom:-31%;}
    100%{left:60%;bottom:-31%;}
}
img.walking_Picture {
    position:relative;
    left: -5%;
    bottom:0;
    animation-name:moving;
    animation-duration:20s;
}
